body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7vw;
  background-color: #ddd;
}

nav {
  position: absolute;
  right: 0;
  height: 100%;
}

button.dropdown {
  /* Required for nav dropdown to sit flush */
  height: 100%;
  width: 7vw;
  background: none;
  border: none;
  padding: 15px;
  margin-right: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: transform 300ms ease-in-out;
}

button.dropdown:before {
  content: "| | |";
  font-size: 2em;
}

button.dropdown:hover {
  transform: rotate(90deg);
}

.navContainer {
  position: absolute;
  right: 0;
  width: 350px;
}

.navContainer a {
  position: sticky;
  border: solid;
  float: none;
  color: black;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  text-align: left;
  transition: transform 300ms ease-in-out;
}

.hidden {
  display: none;
}
